---
import Button from "./Button.astro";
---

<section class="grid-lg cta">
  <div class="grid-sm">
    <h2 class="h2">Agenda una cita</h2>
    <p class="text-muted narrow">Arias Bernal #836 zona centro</p>
    <p class="text-muted narrow">+56 9 1234 5678</p>
  </div>
  <div class="grid-sm">
    <Button text="Contáctame" link="#" style="secondary" />
    <small class="text-muted">No disponible</small>
  </div>
</section>
