---
import Button from "./Button.astro";
---

<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Beaty Spa</h1>
    <p class="text-muted narrow">
      Descubre un oasis de tranquilidad y belleza donde tu bienestar es nuestra
      prioridad.
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Contáctame" link="#" style="secondary" />
    <small class="text-muted">No disponible</small>
  </div>
</header>
